body {
  margin: 0px;
  padding: 45px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.header {
  width: 100%;
  position: relative;
  margin-right: 15px;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 5%;
}

.header .logo {
  position: absolute;
  left: 20px;
  color: #f0a500;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}

.header ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  right: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.header ul li {
  margin-right: 20px;
}

.header ul li a {
  color: white;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
}

.header ul li a:hover,
.header ul li a.active {
  color: black;
  background: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

div ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

div ul li {
  margin: 35px;
}

div ul li a {
  color: white;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 8px;
}

div ul li a:hover,
div ul li a.active {
  color: black;
  background: #f0a500;
}
.change a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

h1,
h2,
h3 a {
  color: #f0a500;
}

ol li a {
  text-decoration: none;
  color: white;
}
h3 a {
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  color: white;
}
